.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid #000000;
}

input[type="text"], input[type="email"], input[type="number"], textarea, select{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    border: none;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px #d9d9d9;
    font-size: 16px;
    text-indent: 5px;
}

.partName, .partAddress, .partDepartment{
    margin-left: 10px;
    margin-right: 10px;
}

.save{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 25px;
}

.save:hover{
    background-color: #000000;
    color: #ffffff;
    border-color: #ffffff;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal-content{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    max-width: 500px;
    width: 100%;
    text-align: center;
}
  
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 24px;
    font-weight: bold;
    color: #888;
}
  
.close:hover{
    color: #000;
}

p{
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}